.navbar {
    font-size: large;
    font-weight: 500;
    padding: 16px 32px;
    background-color: white;
    opacity: 0.5
}

.navbar-brand {
    font-size: xx-large !important;
    color: #4d5d53;
}

.nav a {
    color: #4d5d53 !important;
}
