.navbar {
    font-size: large;
    font-weight: 500;
    padding: 16px 32px;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");

}

.navbar-brand {
    font-size: xx-large !important;
    font-weight: 500;
}

.nav {
    padding: 20px 0 20px 0;
}

.nav a {
    color: #3e4a42 !important;
}
